@font-face {
		    font-family: 'EarlyFontDiary';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
		    font-weight: normal;
		    font-style: normal;
		}
		body{
			font-family: 'EarlyFontDiary';
		}
		header{
			height: 50px;
			padding: 10px;
			padding-bottom: 30px;
			text-align: center;
		}
		nav{
			height: 25px;
			margin-top: 10px;
			padding: 15px 0 10px 0;
			text-align: center;
			border-top: darkgray 2px solid;
			border-bottom: darkgray 2px solid;
		}
		aside{
			margin-top: 10px;
			margin-bottom: 50px;
			padding: 10px;
			text-align: center;
		}
		footer{
			font-family: 'EarlyFontDiary';
			height: 50px;
			margin-top: 10ox;
			padding: 15px;
			background-color: dimgray;
			font-size: 10px;
			color: whitesmoke;
		}
		img{
			width = 500px;
			height = 400px;
		}
		a{
			text-align: center;
			text-decoration: none; /* 링크 밑줄 제거*/
			color: inherit; /* 링크 색상 제거*/
		}
		button{
			font-family: 'EarlyFontDiary';
			border-radius: 5px;
			border-color: #5588f8;
			color: #fff;
			background: #5588f8;
		}
		button:hover{
			background: #81a7f9;
		}
		@import url(https://fonts.googleapis.com/css?family=Oswald);
		@import url(https://fonts.googleapis.com/css?family=Quattrocento);
		.snip1361 {
		  font-family: 'EarlyFontDiary';
		  position: relative;
		  overflow: hidden;
		  margin: 10px;
		  min-width: 270px;
		  max-width: 355px;
		  width: 180px;
		  height: 220px;
		  color: #141414;
		  text-align: left;
		  line-height: 1.4em;
		  font-size: 16px;
		  display: inline-block;
		}
		.snip1361 * {
		  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
		  -webkit-transition: all 0.35s ease;
		  transition: all 0.35s ease;
		}
		.snip1361 img {
		  max-width: 100%;
		  vertical-align: top;
		}
		.snip1361 figcaption {
		  position: absolute;
		  top: calc(80%);
		  width: 100%;
		  background-color: #fffffd;
		  padding: 15px 25px 65px;
		}
		.snip1361 figcaption:before {
		  position: absolute;
		  content: '';
		  z-index: 2;
		  bottom: 100%;
		  left: 0;
		  width: 100%;
		  height: 50px;
		  background-image: -webkit-linear-gradient(top, transparent 0%, #fffffd 100%);
		  background-image: linear-gradient(to bottom, transparent 0%, #fffffd 100%);
		}
		.snip1361 h3,
		.snip1361 p {
		  margin: 0 0 10px;
		}
		.snip1361 h3 {
		  font-weight: 300;
		  font-size: 1.4em;
		  line-height: 1.2em;
		  font-family: 'Oswald', Arial, sans-serif;
		  text-transform: uppercase;
		}
		.snip1361 p {
		  font-size: 0.9em;
		  letter-spacing: 1px;
		  opacity: 0.9;
		}
		.snip1361 a {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  z-index: 2;
		}
		.snip1361:hover figcaption,
		.snip1361.hover figcaption {
		  top: 80px;
		}